*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: #EFF0F4;
}
/*顶层*/
.top{
    background-color: #5AC0CF;
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 5em;
    line-height: 5em;
}
/*顶层的字体*/
/*"关闭"*/
.top_left_font{
    float: left;
    font-size: 1.5em;
    margin-left: 1em;
}
/*"注册"*/
.top_right_font{
    float: right;
    font-size: 1.5em;
    margin-right: 1em;
}
/*"登陆"*/
.top_center_font{
    font-size: 1.7em;
    text-align: center;
}
.login_input{

}
/*文本框*/
.login_input{
    position: relative;
    padding-top: 6em;
}
/*手机图标*/
.uname_img{
    float: left;
}
/*手机号*/
.login_uname{
    background-color: #ffffff;
}
.uname{
    width: 100%;
    border: none;
    outline: none;
    display: block;
    float: left;
    font-size: 1.7em;
    height: 3em;
}
/*锁图标*/
.upas_img{
    float: left;
}
/*密码*/
.login_upas{
    margin-top: 1.5em;
    background-color: #ffffff;
}
.upas{
    width: 100%;
    border: none;
    outline: none;
    display: block;
    float: left;
    font-size: 1.7em;
    height: 3em;
}
/*登陆按钮*/
.login_value{
    margin-top: 1em;
    background-color: #5AC0CF;
    font-size: 1.4em;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 3em;
}
/*忘记密码*/
.aend{
    float: right;
    color: #5AC0CE;
    margin-right: 1em;
    margin-top: 1em;
}







