*{
    padding:  0;
    margin:  0;
    border:  0;
}
html{
    width: 100%;
    height: 100%;
}
#box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.orange{

    width: 30%;
    height: 30%;
    background-color: #FEA500;
    float: left;
    margin: 1.6%;
    border-radius: 10px;
}


