html {
    font-size: 625%;
    width: 100%;
}

body {
    width: 100%;
    font-size: .12rem;
    color: #000;
}

.outBox {
    display: -webkit-flex;/*safari*/
    display: flex;
    min-width: 300px;
}

.header-box {
    height: .6rem;
    line-height: .6rem;
    background: #5AC0CE;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header-a {
    float: left;
}

.header-a a {
    color: #FFF;
    font-size: .3rem;
    margin-left: .2rem;
}

.header-title {
    text-align: center;
    color: #FFF;
    font-size: .18rem;
    margin: 0 6em;
}

main {
    width: 100%;
    margin: .6rem 0 .5rem 0;
}

.main-bg {
    background: url("../img/bg-1.gif") center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 2rem;
}

.main-img {
    position: absolute;
    top: 50%;
    left: .2rem;
    margin-top: -.4rem;
}

.main-img-font {
    position: absolute;
    color: #FFF;
    width: 2rem;
    top: 50%;
    margin-top: -.25rem;
    left: 1rem;
}

.main-img-name {
    font-size: .18rem;
    padding-bottom: .08rem;
}

.main-img-name > span {
    margin-left: .1rem;
    font-size: .16rem;
}

.main-img-location {
    background: url("../img/img-2.png") left center no-repeat;
    background-size: contain;
    padding-left: .15rem;
}

.main-skill {
    background: url("../img/img-3.gif") .2rem center no-repeat;
    height: .8rem;
    line-height: .8rem;
    padding-left: .3rem;
    color: #333;
    font-size: .18rem;
    border-bottom: solid 1px #E1E5E7;
}

.main-ul {
    margin-left: .3rem;
}

.main-ul li {
    position: relative;
    line-height: .6rem;
    min-height: .6rem;
    font-size: .16rem;
    border-bottom: solid 1px #E1E5E7;
    padding: .1rem 0;

}

.main-ul-li1 span{
    background: url("../img/img-1.gif") left center no-repeat;
    background-size: contain;
    padding-left: .28rem;
}

.li1-span1 {
    padding-right: .15rem;
    border-right: solid 1px #E9ECED;
}

.li1-span2 {
    margin-left: .08rem;
}


.footer_a {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;

}

footer div {
    text-align: center;
    line-height: .45rem;
    height: .45rem;
    width: 45%;
}

.a1,
.a2 {
    float: left;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: #5fc0cd;
    color: #fff;
    font-size: .16rem;
}

.a1 {
    background: #fff;
    color: #5fc0cd;
    border: solid 1px #5fc0cd;
    box-sizing: border-box;
}





